*{
    background-color: #e0dfdf;
    font-weight: 400;
    line-height: 150%;
    font-family: "Inter", sans-serif;
}

#encabezado{
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
}

.logo{  
    width: 7%;
}

#titulo{
    color: black;
    font-weight: bolder;
    margin-left: 10px;
}

#seccion-principal{
    display: flex;
    margin-left: 80px;
    gap: 30px;
}

#entrada-mensaje{
    flex: 2;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#entrada-mensaje-area{
    border: none;
    resize: none;
    text-transform: lowercase;
    margin-top: 50px;
    font-size: 2rem;
    color: rgb(0, 62, 155);
    padding: 30px;
}

#salida-mensaje{
    position: relative;
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#salida-mensaje-area{
    background-color: white;
    border: none;
    resize: none;
    text-transform: lowercase;
    border-radius: 25px;
    font-size: 2rem;
    color: rgb(0, 62, 155);
    padding: 30px;
    margin-top: -70px;
    height: 103%;
    background-image: url('../img/Muñeco.png');
    background-repeat: no-repeat;
    background-position: center 120px;
    background-size: 70%;
}

::placeholder {color: rgb(0, 62, 155)}

textarea:focus {
    outline: none;
}

/*#mensaje-vacio {
    margin-top: -350px;
    color: rgb(0, 62, 155);
    text-align: center;
    background-color: white;
    width: 70%;
}*/

#mensaje-vacio {
    background-color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    margin: 0% 20% 0% 20%;
}

.mensaje-vacio-titulo{
    background-color: white;
    color: black;
    font-weight: bolder;
}

.mensaje-vacio-parrafo{
    background-color: white;
    color: rgb(70, 70, 70);
}

.mensaje-informativo{
    color: rgb(70, 70, 70);
    font-weight: bolder;
    font-size: 0.8rem;
}

.botones{
    display: flex;
    justify-content: center;
}

.boton{
    font-size: 1.5rem;
    border: 1px solid #0A3B71;
    border-radius: 18px;
    cursor: pointer;
    width: 50%;
    margin: 10px;
    color: rgb(0, 62, 155);
}

#boton-encriptar{
    background-color: #0A3B71;
    color: #e0dfdf;
}

/*#boton-desencriptar{

}*/

#boton-copiar{
    background-color: white;
    position: absolute;
    bottom: 0px;
}

.boton#boton-encriptar:hover,
.boton#boton-copiar:hover,
.boton#boton-desencriptar:hover {
    background-color: rgb(73, 71, 71);
    color: #e0dfdf;
}

#pie-pagina{
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(160, 160, 160);
}

h3{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(160, 160, 160);
    margin-left: 20px;
}

a{
    text-decoration: none;
    background-color: rgb(160, 160, 160);
}

a:hover{
    color: rgb(73, 71, 71);
}